<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/store/css/style.css">
</head>
<body>
     <!-- navitaion section -->
     <nav>
            <div id="navigation-container">
                <!-- logo sec ≠tion for navigation bar -->
                <div class="logo-image">
                    <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                    <div for="logo">Gekka Bijin</div>
                </div>

                <!-- navigation links section for navigation bar -->
                <ul class="nav-links">
                    <li><a class="borderless-button" href="index.html">Home</a></li>
                    <li><a class="borderless-button" href="product.html">Products</a></li>
                    <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                    <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
                </ul>

                <!-- search bar section for navigation bar -->
                <div id="search-bar-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
                </div>
                
                <!-- end of search bar section for navigation bar -->
                
                <!-- navitation login and sign in button -->
                <button class="white-button">Log in</button>
                <button class="black-button">Sign in</button>
            </div>
    </nav>

    <!-- about us hero section -->
     <div id="about-us-hero-section">
        <div class="about-us-hero-section-1">
            <p class="semi-1-title">About Us</p>
            <p class="normal-paragraph">"Gekka Bijin is more than a name — it's a philosophy. We believe fashion should feel as rare and striking as a single night's bloom: bold, elegant, and unapologetically yours. Every piece is chosen to help you stand out, not blend in."</p>
            <div>
                <button class="white-button">Shop Now</button>
                <button class="black-button">Contact us</button>
            </div>
        </div>
        <div class="about-us-hero-section-2">
            <img src="../../static/store/images/assets/image 4.png" alt="not loading..">
            <img src="../../static/store/images/assets/image 12.png" alt="not loading..">
            <div class="information-board">
                <p>10+</p>
                <p>Year of</p>
                <p>experience</p>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
     </div>

    <!-- why choose us section -->
     <div id="why-us-section">
        <div class="why-us-section-1">
            <div class="why-us-shape-container">
                <img src="../../static/store/images/assets/img1.png" alt="not loading..">
            </div>
            <div class="why-us-shape-container">
                <img src="../../static/store/images/assets/img2.png" alt="not loading..">
            </div>
            <div class="information-board">
                <p>500+</p>
                <p>Stylish outfits</p>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="dot-pattern">
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="dot-row">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            
        </div>
        <div class="why-us-section-2">
            <p class="semi-1-title">Why choose us</p>
            <p class="normal-paragraph">At Gekka Bijin, we combine bold design, premium craftsmanship, and dependable service to deliver an experience you can trust</p>
            <div class="why-us-links">
                <div class="why-us-link-column">
                    <a href="">• Exclusive Designs</a>
                    <a href="">• Premium Quality</a>
                    <a href="">• Trusted Service</a>
                </div>
                <div class="why-us-link-column">
                    <a href="">• Customer-First Promise</a>
                    <a href="">• Fast & Reliable Delivery</a>
                    <a href="">• Sustainability Focused</a>
                </div>
            </div>
        </div>
     </div>
    
    <!-- trust and service section -->
    <div id="trust-service-section">
        <div class="individual-trust-service-card">
            <img src="../../static/store/images/icon/24-7.png" alt="not loading..">
            <p class="semi-4-title">24 /7 Support</p>
            <p class="normal-paragraph">"Our support team is available 24/7 to assist with any questions or concerns, ensuring a seamless experience at every step."</p>
        </div>
        <div class="individual-trust-service-card">
            <img src="../../static/store/images/icon/free-delivery.png" alt="not loading..">
            <p class="semi-4-title">Free Shipping</p>
            <p class="normal-paragraph">"Our support team is available 24/7 to assist with any questions or concerns, ensuring a seamless experience at every step."</p>
        </div>
        <div class="individual-trust-service-card">
            <img src="../../static/store/images/icon/return.png" alt="not loading..">
            <p class="semi-4-title">24 /7 Support</p>
            <p class="normal-paragraph">"Our support team is available 24/7 to assist with any questions or concerns, ensuring a seamless experience at every step."</p>
        </div>
    </div>

    <div id="review-section">
        <div id="review-section-1-header">
                <p>Gekka bijin</p>
                <p class="semi-4-title">What our customer says about us</p>
        </div>
        <div id="review-section-2-content">
            <div id="review-section-2-review">
                <div><i class="fa-solid fa-angle-left angle-icon"></i></div>
                <div class="individual-review-card">

                </div>
                <div><i class="fa-solid fa-angle-right angle-icon"></i></div>
            </div>
            <div id="review-section-2-image"></div>
        </div>
        
    </div>
</body>
</html>