<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/store/css/style.css">
    <title>Address</title>
</head>
<body>
    <!-- marquee section -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
    </div>

    <!-- navitaion section -->
    <nav id="navigation-container">
            <!-- logo sec ≠tion for navigation bar -->
            <div class="logo-image">
                <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                <div for="logo">Gekka Bijin</div>
            </div>

            <!-- navigation links section for navigation bar -->
            <ul class="nav-links">
                <li><a class="borderless-button" href="index.html">Home</a></li>
                <li><a class="borderless-button" href="product.html">Products</a></li>
                <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
            </ul>

            <!-- search bar section for navigation bar -->
            <div id="search-bar-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
            </div>
            
            <!-- end of search bar section for navigation bar -->
            
            <!-- navitation login and sign in button -->
            <button class="white-button">Log in</button>
            <button class="black-button">Sign in</button>
    </nav>

    <!-- cart progress bar section  -->
    <div id="cart-progress-bar-container"></div>

    <!-- cart product and total section -->
    <div id="cart-product-total-container">
        <div id="address-detail-container">
            <div id="address-detail-title-container">
                <h2>Delivery Address</h2>
                <p class="l-p">Please fill out the form bellow with your detail and message to contact with us</p>
            </div>
            <div id="address-detail-input-container">
                <div id="address-detail-name-input-row">
                    <input type="text" placeholder="First Name" name="" id="">
                    <input type="text" placeholder="Last Name" name="" id="">
                </div>
                <div id="address-detail-phone-no-input-contianer">     
                    <input type="text" placeholder="Phone Number" name="" id="">
                </div>
                <div id="address-detail-province-district-input-contiainer">
                    <input type="text" placeholder="Province" name="" id="">
                    <input type="text" placeholder="District" name="" id="">
                </div>
                <div id="address-detail-province-district-input-contiainer">
                    <input type="text" placeholder="City" name="" id="">
                    <input type="text" placeholder="Woda no" name="" id="">
                    <input type="text" placeholder="Tole/Street" name="" id="">
                </div>
                <div id="address-detail-address-input-contianer">     
                    <input type="text" placeholder="Address" name="" id="">
                </div>
                <div id="address-detail-email-input-contianer">     
                    <input type="text" placeholder="Email" name="" id="">
                </div>
                <div id="address-detail-additional-info-input-contianer">     
                    <textarea name="" placeholder="Additional information about delivery" id=""></textarea>
                </div>
                
            </div>
            <div id="address-detail-button-container">
                <button class="yellow-button">Load Address</button>
                <button class="black-button">Save Address</button>
            </div>
        </div> 
        <div id="cart-coupons-gifts-price-container">
            <div id="cart-price-detail-container">
                <p>Price Detail</p>
                <div id="cart-price-detail-card">
                    <div id="cart-price-detail-card-title">
                        <span>Total item (3 items) :</span>
                        <span>Price</span>
                    </div>
                    <div class="cart-price-detail-individual-row">
                        <span>3 x summer pink tops and white bottoms</span>
                        <span>RS. 1,999</span>
                    </div>
                    <div class="cart-price-detail-individual-row">
                        <span>3 x summer pink tops and white bottoms</span>
                        <span>RS. 1,999</span>
                    </div>
                    <div class="cart-price-detail-individual-row">
                        <span>3 x summer pink tops and white bottoms</span>
                        <span>RS. 1,999</span>
                    </div>
                    <div class="cart-price-detail-individual-row">
                        <span>3 x summer pink tops and white bottoms</span>
                        <span>RS. 1,999</span>
                    </div>
                    <hr>
                    <div class="cart-price-detail-individual-row">
                        <span>Coupons Discount</span>
                        <span style="color: rgba(255, 203, 0, 0.9);">RS. 1,999</span>
                    </div>
                    <div class="cart-price-detail-individual-row">
                        <span>Shiping Charge</span>
                        <span style="color: rgba(255, 203, 0, 0.9);">Free Delivery</span>
                    </div>
                    <hr>
                    <div id="cart-price-detail-card-total">
                        <span>Total Cost</span>
                        <span">Rs 10,599</span>
                    </div>
                </div>
            </div>
            <button class="black-button cart-coupons-gifts-price-container-order-button">Continue to Payment</button>
        </div>
    </div>

    <!-- footer section -->
     <footer>
        <div class="footer-email-section">
            <div class="footer-email-detail-container">
                <p class="semi-3-title">Subscribe to get the latest news about hottest deal</p>
                <p class="low-paragraph">Subscribe to get the latest news on hottest deals and new arrivals from Gekka Bijin.</p>
            </div>
            <div class="input-email-button-container">
                <input type="email" placeholder="Enter your email address">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="footer-card-section">
            <div class="footer-card-detail-section">
                <div class="footer-card-detail-1st-section">
                    <!-- logo contaienr -->
                    <div class="logo-image">
                        <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                        <div for="logo">Gekka Bijin</div>
                    </div>
                    <!-- descirption section -->
                     <p class="low-paragraph">Gekka Bijin — where elegance meets the night. Discover curated fashion pieces designed for those who stand out, blending timeless style with bold individuality.</p>
                    <!-- socail media icon section -->
                    <div class="social-icon-container">
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 2.png" alt="Twiter Icon">
                        </a>
                        <a href="#" >
                             <img src="../../static/store/images/social-icon/Component 3.png" alt="Instagram Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 4.png" alt="Facebook Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 5.png" alt="Whatapp Icon">
                        </a>
                    </div>
                     
                </div>

                <div class="footer-card-detail-2nd-section">
                    <div class="footer-card-detail-2st-section-1st-column">
                        <a class="link" href="">Shop now</a>
                        <div>
                            <a class="sub-link" href="">New Arrivals</a>
                            <a class="sub-link" href="">Shoes</a>
                            <a class="sub-link" href="">Shirts/tops</a>
                            <a class="sub-link" href="">Pants/Bottoms</a>
                            <a class="sub-link" href="">Accessories</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-2st-column">
                        <a class="link" href="">Contact us</a>
                        <div>
                            <a class="sub-link" href="">Shopping Info</a>
                            <a class="sub-link" href="">Returns & Exchanges</a>
                            <a class="sub-link" href="">FAQ</a>
                            <a class="sub-link" href="">Size Guide</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-3st-column">
                        <a class="link" href="">About</a>
                        <div>
                            <a class="sub-link" href="">Careers</a>
                            <a class="sub-link" href="">Explore</a>
                            <a class="sub-link" href="">Terms & Conditions</a>
                            <a class="sub-link" href="">Privacy Policy</a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="footer-copyright-and-links">
                <p>© 2026 Gekka Bijin. All rights reserved.</p>
                <div class="footer-privacy-term-cookies-container">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">cookies Setting</a>
                </div>
                

            </div>

        </div>
     </footer>

</body>
</html>