<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/store/css/style.css">
    <title>Cart</title>
</head>
<body>
    <!-- marquee section -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
    </div>

    <!-- navitaion section -->
    <nav id="navigation-container">
            <!-- logo sec ≠tion for navigation bar -->
            <div class="logo-image">
                <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                <div for="logo">Gekka Bijin</div>
            </div>

            <!-- navigation links section for navigation bar -->
            <ul class="nav-links">
                <li><a class="borderless-button" href="index.html">Home</a></li>
                <li><a class="borderless-button" href="product.html">Products</a></li>
                <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
            </ul>

            <!-- search bar section for navigation bar -->
            <div id="search-bar-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
            </div>
            
            <!-- end of search bar section for navigation bar -->
            
            <!-- navitation login and sign in button -->
            <button class="white-button">Log in</button>
            <button class="black-button">Sign in</button>
    </nav>

    <!-- cart progress bar section  -->
    <div id="cart-progress-bar-container"></div>

    <!-- cart product and total section -->
    <div id="cart-product-total-container">
        <div id="cart-product-container">
            <div id="cart-product-selection-container">
                <div id="cart-product-selector-all-container">
                    <input type="checkbox">
                    <p>Select All (0/3)</p>
                </div>
                <div id="cart-product-favourite-remove-container">
                    <p>Add to Favourite</p>
                    <p>Remove</p>
                </div>
            </div>
            <div id="cart-product-list-container">
                <div class="individual-product-cart">
                    <input type="checkbox">
                    <i class="fa-solid fa-xmark"></i>
                    <div class="icon-container">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div class="icon-container">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="not loading...">
                    <div class="individual-product-cart-detail">
                        <h4>Sweet & Cute long dress</h4>
                        <p class="l-small-small-p">Sold by: Gekka Bijin</p>
                        <div class="individual-product-cart-detail-color-container">
                            <span>Selected Color: </span>
                            <div class="available-color-indicator"></div>
                        </div>
                        <div class="individual-product-cart-detail-price-container">
                            <span>RS. 2,999</span>
                            <div class="individual-cart-detial-quantity-button-container">
                                <button class="white-button"><i class="fa-solid fa-minus"></i></button>
                                <button class="white-button">1</button>
                                <button class="white-button"><i class="fa-solid fa-plus"></i></button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="individual-product-cart">
                    <input type="checkbox">
                    <i class="fa-solid fa-xmark"></i>
                    <div class="icon-container">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div class="icon-container">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="not loading...">
                    <div class="individual-product-cart-detail">
                        <h4>Sweet & Cute long dress</h4>
                        <p class="l-small-small-p">Sold by: Gekka Bijin</p>
                        <div class="individual-product-cart-detail-color-container">
                            <span>Selected Color: </span>
                            <div class="available-color-indicator"></div>
                        </div>
                        <div class="individual-product-cart-detail-price-container">
                            <span>RS. 2,999</span>
                            <div class="individual-cart-detial-quantity-button-container">
                                <button class="white-button"><i class="fa-solid fa-minus"></i></button>
                                <button class="white-button">1</button>
                                <button class="white-button"><i class="fa-solid fa-plus"></i></button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="individual-product-cart">
                    <input type="checkbox">
                    <i class="fa-solid fa-xmark"></i>
                    <div class="icon-container">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div class="icon-container">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="not loading...">
                    <div class="individual-product-cart-detail">
                        <h4>Sweet & Cute long dress</h4>
                        <p class="l-small-small-p">Sold by: Gekka Bijin</p>
                        <div class="individual-product-cart-detail-color-container">
                            <span>Selected Color: </span>
                            <div class="available-color-indicator"></div>
                        </div>
                        <div class="individual-product-cart-detail-price-container">
                            <span>RS. 2,999</span>
                            <div class="individual-cart-detial-quantity-button-container">
                                <button class="white-button"><i class="fa-solid fa-minus"></i></button>
                                <button class="white-button">1</button>
                                <button class="white-button"><i class="fa-solid fa-plus"></i></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div></div>
    </div>


</body>
</html>