<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/store/css/style.css">

</head>
<body>
    <!-- marquee section -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
    </div>
    
    <!-- navitaion section -->
    <nav>
        <div id="navigation-container">
            <!-- logo sec ≠tion for navigation bar -->
            <div class="logo-image">
                <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                <div for="logo">Gekka Bijin</div>
            </div>

            <!-- navigation links section for navigation bar -->
            <ul class="nav-links">
                <li><a class="borderless-button" href="index.html">Home</a></li>
                <li><a class="borderless-button" href="product.html">Products</a></li>
                <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
            </ul>

            <!-- search bar section for navigation bar -->
            <div id="search-bar-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
            </div>
            
            <!-- end of search bar section for navigation bar -->
            
            <!-- navitation login and sign in button -->
            <button class="white-button">Log in</button>
            <button class="black-button">Sign in</button>
        </div>
    </nav>

    <!-- contact us hero section -->
    <div id="contact-us-hero-section">
        <div id="contact-us-hero-content">
            <p class="l-h3">Women Collection</p>
            <p class="super-h1">Contact Us</p>
            <p class="l-h3">For inquiries or support, please feel free to reach out — we're happy to assist</p>
            <div>
                <a href="" class="white-button">Explore Now</a>
                <a href="" class="black-button">Search in map</a>
            </div>
        </div>
        <!-- <div id=""></div> -->
         <img src="../../static/store/images/locaton/17ad95aa2c1263b583078559648ce4e5c9299793.png" alt="Not Loading">
    </div>

    <!-- contact us form section -->
     <div id="contact-us-form-section">
        <div id="form-section-content">
            <div>
                <h3>Need more information?</h3>
                <h3>Get in touch with us</h3>
                <p class="small-p">For inquiries or support, please feel free to reach out — we're happy to assist</p>
            </div>
            <div>
                <div>
                    <i></i>
                    <div>
                        <p>Phone Number</p>
                        <p>+6754 XXXX XXXX</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-section-input"></div>
     </div>
</body>
</html>