<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gekka Bijin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cloudflare.com" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/store/css/style.css">
</head>
<body>
    <!-- marquee section -->

    <!-- 2nd try -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
     </div>
    <!-- end of marquee section -->

    <!-- navigation bar section -->
        <nav>
            <div id="navigation-container">
                <!-- logo sec ≠tion for navigation bar -->
                <div class="logo-image">
                    <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                    <div for="logo">Gekka Bijin</div>
                </div>

                <!-- navigation links section for navigation bar -->
                <ul class="nav-links">
                    <li><a class="borderless-button" href="#">Home</a></li>
                    <li><a class="borderless-button" href="#">Products</a></li>
                    <li>
                        <button class="nav-drop-down-button">Explore <i class="fa-solid fa-angle-down angle-down-icon"></i> </button>
                        <!-- <ul class="drop-down-explore">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Shirts/tops</a></li>
                            <li><a href="#">Pants/Bottoms</a></li>
                            <li><a href="#">Dress</a></li>
                            <li><a href="#">Outwear (Jackets, Coats)</a></li>
                            <li><a href="#">Accessories (bags, belts, jewelry)</a></li>
                        </ul> -->
                    </li>
                    <li><a class="borderless-button" href="#">About us</a></li>
                    <li><a class="borderless-button" href="#">Contact us</a></li>
                </ul>

                <!-- search bar section for navigation bar -->
                <div id="search-bar-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
                </div>
                
                <!-- end of search bar section for navigation bar -->
                
                <!-- navitation login and sign in button -->
                <button class="white-button">Log in</button>
                <button class="black-button">Sign in</button>
            </div>
        </nav>
    <!-- ending of navigation bar section -->

    <!-- follow section -->
    <div id="follow-section">
        <div class="follow-section-container">
            <div class="follow-first-section">
                <button class="white-button">Follow Now</button>
                <div class="profile-number-container">
                    <div class="profile">
                        <!-- <img src="" alt="Not loading..">
                        <img src="" alt="Not loading..">
                        <img src="" alt="Not loading.."> -->
                    </div>
                    <span>+560 People</span>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path fill="currentColor" d="M17 22q-1.25 0-2.125-.875T14 19q0-.15.075-.7L7.05 14.2q-.4.375-.925.588T5 15q-1.25 0-2.125-.875T2 12t.875-2.125T5 9q.6 0 1.125.213t.925.587l7.025-4.1q-.05-.175-.062-.337T14 5q0-1.25.875-2.125T17 2t2.125.875T20 5t-.875 2.125T17 8q-.6 0-1.125-.213T14.95 7.2l-7.025 4.1q.05.175.063.338T8 12t-.012.363t-.063.337l7.025 4.1q.4-.375.925-.587T17 16q1.25 0 2.125.875T20 19t-.875 2.125T17 22m0-2q.425 0 .713-.287T18 19t-.288-.712T17 18t-.712.288T16 19t.288.713T17 20M5 13q.425 0 .713-.288T6 12t-.288-.712T5 11t-.712.288T4 12t.288.713T5 13m12.713-7.288Q18 5.426 18 5t-.288-.712T17 4t-.712.288T16 5t.288.713T17 6t.713-.288M17 5" />
            </svg>
        </div>
        

    </div>

        

    <!-- end of follow section -->

    <!-- hero section -->
     <div class = "hero-section">
        <p>Created by Ankit Ale</p>
        <h1>The Queen of the Night</h1>
        <p>The collection display of variety of Fashion Trend</p>
        <div id="hero-section-button">
            <button class="white-button">Explore Now</button>
            <button class="black-button">Show New Arrivals</button>
        </div>
    </div>

    <!-- end of hero section -->
------------------------------------------------------------------------------------------------------------------

    <!-- Caroscel Slider section -->
    <div class="caroscel-slider-section">


    </div>
------------------------------------------------------------------------------------------------------------------

    <!-- new arrival section -->
    <div class="new-arrival-section">
        <div class="new-arrival-card-container">
            <div class="new-arrival-card-1st-section">
                <h3>New Arrival :</h3>
                <span>Limited edition</span>
                <h4>Nike Dunk</h4>
                <p>"Bold color-blocking meets timeless comfort. A streetwear icon that turns heads wherever you step. Built to keep up, no matter where the day takes you."</p>
                <button>Add to Cart</button>
            </div>
            <div class="new-arrival-card-2nd-section">
                <img src="../../static/store/images/nike-dunk.png" alt="Nike Dunk Shoe">
            </div>
        </div>
    </div>

    <!-- end of new arrival section -->
------------------------------------------------------------------------------------------------------------------

    <!-- variety section -->

    <div class="variety-section">
        <h2>Explore Section</h2>
        <p>Our one-stop destination for every style, trend, occasion you're shopping for + more. | <a href="#">Show now</a></p>
        <div class="horizontal-scroll-contaienr">
            current empty
        </div>
        <a href="#" class="show-more-button">Show More <span>&#8594;</span></a>
    </div>

    <!-- end of variety section -->
------------------------------------------------------------------------------------------------------------------

    <!-- offer section -->
    <div class="offer-section">
        <div class="offer-card-container">
            <div class="offer-card-1st-section">>
                <img src="../../static/store/images/offer.png" alt="Offer Image">
            </div>
            <div class="offer-card-2nd-section">
                <h4>Exclusive Offer</h4>
                <p>Unlock the untimate style with our exclusive offer Enjoy saving up to 40% off on our latest new arrival</p>
                <div class="offer-card-timer-cube">
                    <div class="timer-cube">
                        <span>00</span>
                        <p>Days</p>
                    </div>
                    <div class="timer-cube">
                        <span>00</span>
                        <p>Hours</p>
                    </div>
                    <div class="timer-cube">
                        <span>00</span>
                        <p>Minutes</p>
                    </div>
                    <div class="timer-cube">
                        <span>00</span>
                        <p>Seconds</p>
                    </div>
                    
                </div>
                <a href="#" class="offer-card-button">Shop Now</a>
            </div>
        </div>
    </div>
    <!-- end of offer section -->
------------------------------------------------------------------------------------------------------------------

    <!-- footer section -->
     <footer>
        <div class="footer-email-section">
            <div>
                <p>Subscribe to get the latest news about hottest deal</p>
                <p>Subscribe to get the latest news on hottest deals and new arrivals from Gekka Bijin.</p>
            </div>

            <input type="email" placeholder="Enter your email address">
            <button>Subscribe</button>
        </div>
        <div class="footer-card-section">
            

            <div class="footer-card-detail-section">
                <div class="footer-card-detail-1st section">
                    <!-- logo contaienr -->
                    <div class="logo-image">
                        <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                        <div for="logo">Gekka Bijin</div>
                    </div>

                    <!-- descirption section -->
                     <p>Gekka Bijin — where elegance meets the night. Discover curated fashion pieces designed for those who stand out, blending timeless style with bold individuality.</p>
                    
                    <!-- socail media icon section -->
                     <a href="#" >
                        <img src="../../static/store/images/twtier.png" alt="Twiter Icon">
                     </a>
                     <a href="#" >
                        <img src="../../static/store/images/instagram.png" alt="Instagram Icon">
                     </a>
                     <a href="#" >
                        <img src="../../static/store/images/facebook.png" alt="Facebook Icon">
                     </a>
                     
                     <a href="#" >
                        <img src="../../static/store/images/whatapp.png" alt="Whatapp Icon">
                     </a>
                </div>

                <div class="footer-card-detail-2nd section">
                    <div class="footer-card-detail-2st-section-1st-column">
                        <p>Shop now</p>
                        <p>New Arrivals</p>
                        <p>Shoes</p>
                        <p>Shirts/tops</p>
                        <p>Pants/Bottoms</p>
                        <p>Accessories</p>
                    </div>
                    <div class="footer-card-detail-2st-section-2st-column">
                        <p>Contact us</p>
                        <p>Shopping Info</p>
                        <p>Returns & Exchanges</p>
                        <p>FAQ</p>
                        <p>Size Guide</p>
                    </div>
                    <div class="footer-card-detail-2st-section-3st-column">
                        <p>About</p>
                        <p>Careers</p>
                        <p>Explore</p>
                        <p>Terms & Conditions</p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright-and-links">
                <p>© 2026 Gekka Bijin. All rights reserved.</p>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">cookies Setting</a>
            </div>

        </div>
     </footer>

    <!-- end of footer section -->
   

    <!-- taging script file for the home page -->
    <script src="../../static/store/js/script.js"></script>
</body>
</html>