<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gekka Bijin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cloudflare.com" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/store/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>

    <!-- fix popup window -->
    <div id="fix-popup-window">
        <img src="../../static/store/images/Logo.png" alt="not loading..">
        <div class="name-profile-button">
            <p>gakkabijin.</p>
            <button>Profile</button>
        </div>
        <button>Visit us</button>
    </div>
    <!-- marquee section -->

    <!-- 2nd try -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
     </div>
    <!-- end of marquee section -->

    <!-- navigation bar section -->
        <nav>
            <div id="navigation-container">
                <!-- logo sec ≠tion for navigation bar -->
                <div class="logo-image">
                    <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                    <div for="logo">Gekka Bijin</div>
                </div>

                <!-- navigation links section for navigation bar -->
                <ul class="nav-links">
                    <li><a class="borderless-button" href="index.html">Home</a></li>
                    <li><a class="borderless-button" href="product.html">Products</a></li>
                    <li>
                        <button class="nav-drop-down-button">Explore <i class="fa-solid fa-angle-down angle-down-icon"></i> </button>
                        <!-- <ul class="drop-down-explore">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Shirts/tops</a></li>
                            <li><a href="#">Pants/Bottoms</a></li>
                            <li><a href="#">Dress</a></li>
                            <li><a href="#">Outwear (Jackets, Coats)</a></li>
                            <li><a href="#">Accessories (bags, belts, jewelry)</a></li>
                        </ul> -->
                    </li>
                    <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                    <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
                </ul>

                <!-- search bar section for navigation bar -->
                <div id="search-bar-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
                </div>
                
                <!-- end of search bar section for navigation bar -->
                
                <!-- navitation login and sign in button -->
                <button class="white-button">Log in</button>
                <button class="black-button">Sign in</button>
            </div>
        </nav>
    <!-- ending of navigation bar section -->

    <!-- follow section -->
    <div id="follow-section">
        <div class="follow-section-container">
            <div class="follow-first-section">
                <button class="white-button">Follow Now</button>
                <div class="profile-number-container">
                    <div class="profile">
                        <img src="../../static/store/images/profile_pic/image 1.png" alt="Not loading..">
                        <img src="../../static/store/images/profile_pic/image 2.png" alt="Not loading..">
                        <img src="../../static/store/images/profile_pic/image 3.png" alt="Not loading..">
                    </div>
                    <span>+560 People</span>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path fill="currentColor" d="M17 22q-1.25 0-2.125-.875T14 19q0-.15.075-.7L7.05 14.2q-.4.375-.925.588T5 15q-1.25 0-2.125-.875T2 12t.875-2.125T5 9q.6 0 1.125.213t.925.587l7.025-4.1q-.05-.175-.062-.337T14 5q0-1.25.875-2.125T17 2t2.125.875T20 5t-.875 2.125T17 8q-.6 0-1.125-.213T14.95 7.2l-7.025 4.1q.05.175.063.338T8 12t-.012.363t-.063.337l7.025 4.1q.4-.375.925-.587T17 16q1.25 0 2.125.875T20 19t-.875 2.125T17 22m0-2q.425 0 .713-.287T18 19t-.288-.712T17 18t-.712.288T16 19t.288.713T17 20M5 13q.425 0 .713-.288T6 12t-.288-.712T5 11t-.712.288T4 12t.288.713T5 13m12.713-7.288Q18 5.426 18 5t-.288-.712T17 4t-.712.288T16 5t.288.713T17 6t.713-.288M17 5" />
            </svg>
        </div>
    </div>
                
    <!-- end of follow section -->

    <!-- hero section -->
     <div class = "hero-section">
        <p>Created by Ankit Ale</p>
        <h1>The Queen of the Night</h1>
        <p>The collection display of variety of Fashion Trend</p>
        <div id="hero-section-button">
            <button class="white-button">Explore Now</button>
            <button class="black-button">Show New Arrivals</button>
        </div>
    </div>

    <!-- end of hero section -->

    <!-- Caroscel Slider section -->
    <div class="caroscel-slider-section">
        <div class="caroscel-circle caroscel-circle-first">
            <!-- 1st circle -->
        </div>
        <div class="caroscel-slider-clip-container">
            <div class="caroscel-slider-container">
                <img src="../../static/store/images/caroscel_pic/003c9d38603268359a1e21967bfb1d6d3f889268.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/05a47abad9ec4935af47e74b4adeeb6a447c5557.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/3167d987c3c78e1eaa29088c81267aa0e31d2e1f.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/35ff071a2826c2e7a9be2bf0e7810688e6214ff7.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/636b30208a22796033953a51ea6742387b1f11ae.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/72b1ab2ae5aed7d05ba98d56a2f48e1bfa664b98.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/9dbe5bd78cffa046d374662c0fa23929b9abee23.jpg" alt="not loading...">
                <img src="../../static/store/images/caroscel_pic/d73e2904a4103421a6769c49306b8ceb78aaa38d.jpg" alt="not loading...">
            </div>
        </div>
        <div class="caroscel-circle caroscel-circle-second">
            <!-- 1st circle -->
        </div>
    </div>

    <!-- new arrival section -->
    <div id="new-arrival-section">
        <div class="new-arrival-card-container">
            <div class="new-arrival-card-1st-section">
                <div class="title">
                    <h3 class="semi-2-title">New Arrival :</h3><span class="semi-2-title">Limited edition</span>
                </div>
                <div class="after-title">  
                    <h4 class="">Nike Dunk</h4>
                    <p class="low-paragraph">"Bold color-blocking meets timeless comfort. A streetwear icon that turns heads wherever you step. Built to keep up, no matter where the day takes you."</p>
                    <button class="black-button">Add to Cart</button>
                </div>
                
            </div>
            <div class="new-arrival-card-2nd-section">
                <img src="../../static/store/images/products/f8bd5b6b98f50b047e04f3bf93f1980a9c9efe0f.jpg" alt="Nike Dunk Shoe">
            </div>
        </div>
    </div>

    <!-- end of new arrival section -->

    <!-- variety section -->

    <div class="variety-section">
        <h2 class="semi-2-title">Explore By Category</h2>
        <div class="paragraph-like">
            <p class="low-paragraph">Our one-stop destination for every style, trend, occasion you're shopping for + more. | </p>
            <a href="#">Show now</a>
        </div>
        <div class="horizontal-scroll-contaienr">
            <div class="horizontal-clip-container">
                <div class="individual-variety-container variety-container-middle">
                    <h3 class="semi-3-title">THE ROCKSTAR STYLE</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant4.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
                <div class="individual-variety-container variety-container-top">
                    <h3 class="semi-3-title">THE REBEL STYLE</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant5.png" alt="not loading...">
                    <p class="normal-paragraph">"Distressed denim and grunge-inspired layers, built for those who break the rules on purpose."</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>    
                <div class="individual-variety-container variety-container-bottom">
                    <h3 class="semi-3-title">THE STREET STYLE</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant6.png" alt="not loading...">
                    <p class="normal-paragraph">"Urban-inspired fits with an effortless edge, made for life in motion."</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
                <div class="individual-variety-container variety-container-middle">
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant7.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
                <div class="individual-variety-container"variety-container-top>
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant8.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>     
                <div class="individual-variety-container variety-container-bottom">
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant9.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
                <div class="individual-variety-container variety-container-middle">
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Default.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
                <div class="individual-variety-container"variety-container-top>
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant2.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>     
                <div class="individual-variety-container variety-container-bottom">
                    <h3 class="semi-3-title">Title</h3>
                    <img src="../../static/store/images/varient_pic/Property 1=Variant3.png" alt="not loading...">
                    <p class="normal-paragraph">“Leather jackets, statement boots, and bold accessories for those who own every room they walk into”</p>
                    <div class="star-shop-button">
                        <div class="star-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14" fill="none">
                            <path d="M4.27306 11.0384L4.99639 7.93912L2.59131 5.85545L5.75939 5.58129L7.00014 2.6582L8.24089 5.5807L11.4084 5.85487L9.00331 7.93854L9.72723 11.0378L7.00014 9.39279L4.27306 11.0384Z" fill="#EFBF04" fill-opacity="0.941176"/>
                            </svg>

                        </div>
                        <button class="black-button">Show now</button>
                    </div>

                </div>
            </div>
        </div>
        <a href="#" class="right-arrow-button">Show More <span>&#8594;</span></a>
    </div>

    <!-- end of variety section -->

    <!-- offer section -->
    <div id="offer-section">
        <div class="offer-card-container">
            <div class="offer-card-1st-section">
                <img src="../../static/store/images/products/varient img component (1).png" alt="Offer Image">
            </div>
            <div class="offer-card-2nd-section">
                <P class="semi-3-title">Exclusive Offer</P>
                <p class="low-paragraph">Unlock the untimate style with our exclusive offer Enjoy saving up to 40% off on our latest new arrival</p>
                <div class="offer-card-timer-cube">
                    <div class="timer-cube">
                        <span>7</span>
                        <p>Days</p>
                    </div>
                    <div class="timer-cube">
                        <span>16</span>
                        <p>Hrs</p>
                    </div>
                    <div class="timer-cube">
                        <span>14</span>
                        <p>Mins</p>
                    </div>
                    <div class="timer-cube">
                        <span>10</span>
                        <p>Sec</p>
                    </div>
                    
                </div>
                <a href="#" class="right-arrow-button right-arrow-buton-offer ">Shop Now <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M4 12H16.25L11 6.75L11.66 6L18.16 12.5L11.66 19L11 18.25L16.25 13H4V12Z" fill="black"/>
</svg></a>
                
            </div>
        </div>
    </div>
    <!-- end of offer section -->

    <!-- footer section -->
     <footer>
        <div class="footer-email-section">
            <div class="footer-email-detail-container">
                <p class="semi-3-title">Subscribe to get the latest news about hottest deal</p>
                <p class="low-paragraph">Subscribe to get the latest news on hottest deals and new arrivals from Gekka Bijin.</p>
            </div>
            <div class="input-email-button-container">
                <input type="email" placeholder="Enter your email address">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="footer-card-section">
            <div class="footer-card-detail-section">
                <div class="footer-card-detail-1st-section">
                    <!-- logo contaienr -->
                    <div class="logo-image">
                        <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                        <div for="logo">Gekka Bijin</div>
                    </div>
                    <!-- descirption section -->
                     <p class="low-paragraph">Gekka Bijin — where elegance meets the night. Discover curated fashion pieces designed for those who stand out, blending timeless style with bold individuality.</p>
                    <!-- socail media icon section -->
                    <div class="social-icon-container">
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 2.png" alt="Twiter Icon">
                        </a>
                        <a href="#" >
                             <img src="../../static/store/images/social-icon/Component 3.png" alt="Instagram Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 4.png" alt="Facebook Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 5.png" alt="Whatapp Icon">
                        </a>
                    </div>
                     
                </div>

                <div class="footer-card-detail-2nd-section">
                    <div class="footer-card-detail-2st-section-1st-column">
                        <a class="link" href="">Shop now</a>
                        <div>
                            <a class="sub-link" href="">New Arrivals</a>
                            <a class="sub-link" href="">Shoes</a>
                            <a class="sub-link" href="">Shirts/tops</a>
                            <a class="sub-link" href="">Pants/Bottoms</a>
                            <a class="sub-link" href="">Accessories</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-2st-column">
                        <a class="link" href="">Contact us</a>
                        <div>
                            <a class="sub-link" href="">Shopping Info</a>
                            <a class="sub-link" href="">Returns & Exchanges</a>
                            <a class="sub-link" href="">FAQ</a>
                            <a class="sub-link" href="">Size Guide</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-3st-column">
                        <a class="link" href="">About</a>
                        <div>
                            <a class="sub-link" href="">Careers</a>
                            <a class="sub-link" href="">Explore</a>
                            <a class="sub-link" href="">Terms & Conditions</a>
                            <a class="sub-link" href="">Privacy Policy</a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="footer-copyright-and-links">
                <p>© 2026 Gekka Bijin. All rights reserved.</p>
                <div class="footer-privacy-term-cookies-container">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">cookies Setting</a>
                </div>
                

            </div>

        </div>
     </footer>

    <!-- end of footer section -->
   
    <!-- taging script file for the home page -->
    <script src="../../static/store/js/script.js"></script>
</body>
</html>