<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>individual product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/store/css/style.css">
</head>
<body>
     <!-- marquee section -->
    <div class="marquee-indiviudal-content-container">
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        <ul>
            <li>Gakka Bijin</li>
            <li>New Collection Blooming Soon</li>
            <li>☆</li>
            <li>Limited Drops Only</li>
            <li>Free Shipping on All Orders</li>
            <li>☆</li>
        </ul>
        
    </div>

    <!-- navitaion section -->
    <nav id="navigation-container">
            <!-- logo sec ≠tion for navigation bar -->
            <div class="logo-image">
                <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                <div for="logo">Gekka Bijin</div>
            </div>

            <!-- navigation links section for navigation bar -->
            <ul class="nav-links">
                <li><a class="borderless-button" href="index.html">Home</a></li>
                <li><a class="borderless-button" href="product.html">Products</a></li>
                <li><a class="borderless-button" href="../../templates/store/aboutus.html">About us</a></li>
                <li><a class="borderless-button" href="../../templates/store/contactus.html">Contact us</a></li>
            </ul>

            <!-- search bar section for navigation bar -->
            <div id="search-bar-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input ghe=type="text" placeholder="Search by Collections" id="search-bar">
            </div>
            
            <!-- end of search bar section for navigation bar -->
            
            <!-- navitation login and sign in button -->
            <button class="white-button">Log in</button>
            <button class="black-button">Sign in</button>
    </nav>

    <!-- product-detail-section -->
    <div id="product-detail-section">
        <div id="product-image-container">
            <div id="product-main-image-container">
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="not loading..">
            </div>
            <div id="product-semi-imager-container">
                <i class="fa-solid fa-angle-left angle-icon-individual-product"></i>
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="Not Loading">
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="Not Loading">
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="Not Loading">
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="Not Loading">
                <img src="../../static/store/images/product-pic/Property 1=product pic 3.png" alt="Not Loading">
                <i class="fa-solid fa-angle-right angle-icon-individual-product"></i>
            </div>
        </div>
        <div id="product-detail-container">
            <div id="product-detail-name">
                <h1>Product Name</h1>
                <div id="individual-product-price-rating-container">
                    <p>Price : 2,599</p>
                    <div id="individua-product-star-review-container">
                        <div id="individual-product-star-container">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p class="small-small-p">(20 customer revierws)</p>
                    </div>
                </div>
            </div>
            <div id="product-detail-description">
                <p class="l-small-p">This is the section where there will be a short descripion about the product. hopefully it will give a light information about the dfafafaproduct. it will only contain few lines of description of product.</p>
            </div>
            <div id="product-detail-quantity-button">
                <div>
                    <p class="small-p">Available quantity: 2</p>
                    <div id="available-color-indicator-container">
                        <div class="available-color-indicator"></div>
                        <div class="available-color-indicator"></div>
                        <div class="available-color-indicator"></div>
                        <div class="available-color-indicator"></div>
                    </div>
                </div>
                <div id="individual-product-quntity-button-container">
                    <button class="white-button"><i class="fa-solid fa-minus"></i></button>
                    <button class="white-button">1</button>
                    <button class="white-button"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div id="individual-product-button-container">
                    <button class="white-button">Add to Cart</button>
                    <button class="black-button">Buy Now</button>
                </div>
            </div>
            <div id="product-detail-category-share">
                <div>
                    <p class="l-small-p">Category : Clothing, one piece</p>
                    <p class="l-small-p">Tag: Cute</p>
                </div>
                <div id="individual-product-share-container">
                    <h3>Share this product</h3>
                    <div id="individual-product-share-icon-container">
                        <i class="fa-brands fa-square-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- description-review-section -->
     <div id="individual-description-review-section">
        <div id="description-review-tab-container">
            <button class="tab-button">Description</button>
            <button class="tab-button">Review</button>
        </div>
        <div id="individual-product-description">
            <p class="l-p">Crafted from premium, carefully sourced fabric, this piece brings together comfort and refined style in equal measure. Its tailored fit and clean silhouette are designed to flatter a variety of body types, making it just as easy to dress up for an evening out as it is to wear casually during the day. Every seam and stitch reflects a commitment to quality, ensuring the piece holds its shape and feel wear after wear. <br><br>
            Beyond its craftsmanship, this piece is designed with versatility in mind — a true wardrobe staple that pairs effortlessly with a range of styles, from minimalist and understated to bold and statement-making. Whether layered for cooler days or worn on its own during warmer months, it adapts to your lifestyle without compromising on comfort or aesthetic. Built to outlast passing trends, it's a piece you'll continue to reach for season after season.Beyond its craftsmanship, this piece is designed with versatility in mind — a true wardrobe staple that pairs effortlessly with a range of styles, from minimalist and understated to bold and statement-making. Whether layered for cooler days or worn on its own during warmer months, it adapts to your lifestyle without compromising on comfort or aesthetic. Built to outlast passing trends, it's a piece you'll continue to reach for season after season.</p>
        </div>
        <div id="individual-product-review">
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
            <div class="individual-review-card">
                    <div class="individual-review-card-header">
                        <div class="individual-review-card-logo">
                            <img src="../../static/store/images/profile_pic/image 1.png" alt="Not Loading..">
                            <div>
                                <p>Ankit Ale Magar</p>
                                <p class="small-p">31 july  2026</p>
                            </div>
                        </div>
                        <div class="individual-review-card-rating">
                            <div>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                               <i class="fa-solid fa-star rating-star"></i>
                            </div>
                            <div>
                                <p class="rating-value small-p">5/5 stars</p>
                            </div>
                            
                        </div>

                    </div>
                    <p class="small-small-p">"I've never received so many compliments on an outfit before. The quality is incredible and every piece feels unique — Gekka Bijin has become my go-to for anything special."</p>
                    <div class="individual-review-card-footer">
                        <div>
                            <div class="icon-container">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </div>
                            <p class="l-small-small-p">154 Likes</p>
                        </div>
                        <div class="icon-container" >
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        
                    </div>
            </div>
        </div>
     </div>

     <!-- related product section  -->
    <div id="individual-related-product-section">
        <h3>Releated Product</h3>
        <div class="product-scroll-container">
            <div class="product-clip-container">
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
                <div class="individual-product-card-container">
                    <img src="../../static/store/images/product-pic/Property 1=product pic1.png" alt="not loading">
                    <p class="product-brand-name">Gekka Bijin</p>
                    <p>Sweet and pink long dress</p>
                    
                        <div class="price-container">
                            <p class="price-tag">RS.</p>
                            <p class="amount">2500</p>
                            <p class="cancle-amount">3500</p>
                        </div>
                        <div class="available-container">
                            <p>Available quantity : </p>
                            <p>4</p>
                        </div>
                        
                    <div class="color-rating-container">
                        <div class="color-icon-container">
                            <img src="../../static/store/images/product-color-availability/Property 1=cream color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=light brown color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=pink color.png" alt="not loading...">
                            <img src="../../static/store/images/product-color-availability/Property 1=red color.png" alt="not loading...">
                        </div>
                        <div class="star-icon-container">
                            <!-- <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=full star.png" alt="no loading..">
                            <img src="../../static/store/images/star icon/Property 1=half star.png" alt="no loading.."> -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </div>
                    </div>
                    <div class="product-button-container">
                        <button class="white-button">Add to cart</button>
                        <button class="black-button">Buy Now</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>

         <!-- footer -->
    <div id="subscriptionlesss-footer">
        <div class="footer-card-section">
            <div class="footer-card-detail-section">
                <div class="footer-card-detail-1st-section">
                    <!-- logo contaienr -->
                    <div class="logo-image">
                        <img src="../../static/store/images/logo.png" alt="Gekka Bijin Logo">
                        <div for="logo">Gekka Bijin</div>
                    </div>
                    <!-- descirption section -->
                     <p class="low-paragraph">Gekka Bijin — where elegance meets the night. Discover curated fashion pieces designed for those who stand out, blending timeless style with bold individuality.</p>
                    <!-- socail media icon section -->
                    <div class="social-icon-container">
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 2.png" alt="Twiter Icon">
                        </a>
                        <a href="#" >
                             <img src="../../static/store/images/social-icon/Component 3.png" alt="Instagram Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 4.png" alt="Facebook Icon">
                        </a>
                        <a href="#" >
                            <img src="../../static/store/images/social-icon/Component 5.png" alt="Whatapp Icon">
                        </a>
                    </div>
                     
                </div>

                <div class="footer-card-detail-2nd-section">
                    <div class="footer-card-detail-2st-section-1st-column">
                        <a class="link" href="">Shop now</a>
                        <div>
                            <a class="sub-link" href="">New Arrivals</a>
                            <a class="sub-link" href="">Shoes</a>
                            <a class="sub-link" href="">Shirts/tops</a>
                            <a class="sub-link" href="">Pants/Bottoms</a>
                            <a class="sub-link" href="">Accessories</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-2st-column">
                        <a class="link" href="">Contact us</a>
                        <div>
                            <a class="sub-link" href="">Shopping Info</a>
                            <a class="sub-link" href="">Returns & Exchanges</a>
                            <a class="sub-link" href="">FAQ</a>
                            <a class="sub-link" href="">Size Guide</a>
                        </div>
                        
                    </div>
                    <div class="footer-card-detail-2st-section-3st-column">
                        <a class="link" href="">About</a>
                        <div>
                            <a class="sub-link" href="">Careers</a>
                            <a class="sub-link" href="">Explore</a>
                            <a class="sub-link" href="">Terms & Conditions</a>
                            <a class="sub-link" href="">Privacy Policy</a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="footer-copyright-and-links">
                <p>© 2026 Gekka Bijin. All rights reserved.</p>
                <div class="footer-privacy-term-cookies-container">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">cookies Setting</a>
                </div>
                

            </div>

        </div>
    </div>
</body>
</html>