* {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    /* gap: 0px; */
}

:root {
  --main-white: rgb(255, 255, 255);
  --main-black: rgb(0, 0, 0);
  --low-opacity-black: rgba(0, 0, 0, 0.60);;
  --low-opacity-border: rgba(0, 0, 0, 0.70);
  --hover-white: #f5f5f5;
  --hover-black: #121212;
  --button-yellow: yellow;
  --button-hover-yellow: #fffb24;
}

body {
    margin: 0;
    padding: 0;
    width: 1440 px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.marquee-indiviudal-content-container {
    display: flex;
    width: 100%;
    padding: 8px 0;
    user-select: none;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    align-items: center;
    overflow: hidden;
}

.marquee-indiviudal-content-container ul {
    display: flex;
    padding-right: 24px;
    list-style: none;
    flex-shrink: 0;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    animation: scroll 7s linear infinite;
}

@keyframes scroll{
    to{
        transform: translateX(-100%);
    }
}
    
/* navigation section */
nav{
    height: 70px;
    /* box-sizing: border-box; */
    padding: 8px 0px;
    width: 1440px;
    display: flex;
    justify-content: center;
}

#navigation-container{
    font-size: 14px;
    font-weight: 500;
    width: 1208px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

/* logo section */
.logo-image{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image img {
    height: 35px;
    width: auto;    
}

/* link section */
.nav-links {
    height: 54px;
    /* height: 100%; */
    /* width: auto; */
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-links li{
    display: flex;
    padding: 18px 8px;
    list-style-type:none;
    text-align: center;
    align-items: center;
    height: 54px;
    width: auto;
}

.borderless-button{
    text-align: center;
    text-decoration: none;
    /* height: 100%; */
}

.nav-drop-down-button{
    font-weight: 500;
    border: none;
    height: 100%;
}

/* search bar section */
#search-bar-container{
    width: 430px;
    height: 30px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    flex: 1 0 0;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
}

#search-bar-container > i{
    height: 12px;
    width: 12px;
}

.search-icon {
    font-size: 12px;
    fill: rgba(0, 0, 0, 0.50);
    aspect-ratio: 1/1;
    flex: 0 0 auto;
}

#search-bar-container > input{
    border: var(--low-opacity-border);
    /* font-family: Outfit; */
    font-size: 10px;
    font-weight: 300;
    border: none;
    flex: 1;
    
}


/* navigation button section */
#navigation-container > button, #hero-section-button > button, .follow-first-section > button{
    height: 34px;
    padding: 8px 18px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.white-button{
    /* background-color: var(--main-white); */
    border: 1px solid var(--low-opacity-border);
    /* color: var(--main-black); */

}

.black-button{
    background-color: var(--main-black);
    border: var(--main-black) 1px solid;
    color: var(--main-white);

}

/* ----------------------------------------------------------------------- */

/* follow section */

#follow-section{
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.follow-section-container{
    display: flex;
    height: 100%;
    width: 1208px;
    /* padding-top: 8px; */
    justify-content: space-between;
    align-items: center;
}

.follow-first-section{
    display: flex;
    align-items: center;
    gap: 24px;
}




/* ----------------------------------------------------------------------- */

/* hero section */
.hero-section{
    width: 100%;
    height: 549px;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section p{
    color: var(--low-opacity-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.88px;
}

.hero-section h1{
    color: var(--main-black);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.04px;
}

#hero-section-button{
    display: flex;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}
