@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: bai;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    /* gap: 0px; */
}

:root {
  --main-white: rgb(255, 255, 255);
  --main-black: rgb(0, 0, 0);
  --low-opacity-black: rgba(0, 0, 0, 0.60);;
  --low-opacity-border: rgba(0, 0, 0, 0.70);
  --hover-white: #f5f5f5;
  --hover-black: #121212;
  --button-yellow: yellow;
  --button-hover-yellow: #fffb24;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    letter-spacing: 1px;
    /* overscroll-behavior: none; */

    position: relative;
}

.semi-1-title{

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.semi-2-title{
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.semi-3-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1px;
}

.semi-4-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.88px;
}

.low-paragraph{
    font-size: 16px;
    font-style: normal;
    font-weight: 5600;
    line-height: normal;
    opacity: 50%;
}

.normal-paragraph{
    font-size: 16px;
    font-style: normal;
    font-weight: 5600;
    line-height: normal;
    /* opacity: 50%; */
}

.white-button{
    display: flex;
    white-space: nowrap;
    width: fit-content;
    background-color: var(--main-white);
    border: 1px solid var(--low-opacity-border);
    /* color: var(--main-black); */
    height: 34px;
    padding: 8px 18px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 1;

    cursor: pointer;

}

.black-button{
    background-color: var(--main-black);
    border: var(--main-black) 1px solid;
    color: var(--main-white);
    height: 34px;
    padding: 8px 18px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 1;


    white-space: nowrap;
    cursor: pointer;
}

.right-arrow-button{
    display: inline-flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.70);
}

.information-board{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 6px 20px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    border-radius: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.information-board > *{
    justify-content: center;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}

.information-board p:nth-child(1){
    color: rgba(239, 191, 4, 0.94);
    font-size: 20px;
}

.dot-pattern {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.dot-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: fit-content;
    width: fit-content;
}

.dot {
    width: 12px;
    height: 12px;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: #DE3163;
}




#fix-popup-window{
    display: flex;
    gap: 12px;
    padding: 5px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 15px;
    background: rgba(185, 185, 185, 0.8);
    z-index: 1000;
}

#fix-popup-window > img{
    width: 50px;
    aspect-ratio: 1/1;
}

.name-profile-button{
    display: flex;
    width: auto;
    height: 50px;
    padding: 5px;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: rgba(62, 62, 62, 0.60);
}

.name-profile-button > *{
    color: white;
}

.name-profile-button > button{
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    /* background: rgba(62, 62, 62, 0.60); */


    border-radius: 10px;
    background: rgba(62, 62, 62, 0);
    border: 1px solid rgba(255, 255, 255, 0.5) ;
}

#fix-popup-window > button{
    display: flex;
    padding: 8px 19px 9px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 10px;
    border: 0.5px solid #000;
    background: rgba(239, 191, 4, 0.94);
}



.marquee-indiviudal-content-container {
    display: flex;
    width: 100%;
    padding: 8px 0;
    user-select: none;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    align-items: center;
    overflow: hidden;
}

.marquee-indiviudal-content-container ul {
    display: flex;
    padding-right: 24px;
    list-style: none;
    flex-shrink: 0;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    animation: scroll 7s linear infinite;
}

@keyframes scroll{
    to{
        transform: translateX(-100%);
    }
}
    
/* navigation section */
nav{
    height: 70px;
    /* box-sizing: border-box; */
    padding: 8px 0px;
    letter-spacing: 0;
    width: 100%px;
    display: flex;
    justify-content: center;
}

#navigation-container{
    font-size: 14px;
    font-weight: 500;
    width: 1208px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

/* logo section */
.logo-image{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image img {
    height: 35px;
    width: auto;    
}

/* link section */
.nav-links {
    height: 54px;
    /* height: 100%; */
    gap: 16px;
    /* width: auto; */
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-links li{
    display: flex;
    padding: 18px 8px;
    list-style-type:none;
    text-align: center;
    align-items: center;
    height: 54px;
    width: auto;
    white-space: nowrap;
}

.borderless-button{
    text-align: center;
    text-decoration: none;
    /* height: 100%; */
}

.nav-drop-down-button{
    font-weight: 500;
    border: none;
    background-color: white;
    height: 100%;
}

/* search bar section */
#search-bar-container{
    width: 400px;
    height: 30px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    /* flex: 1 0 0; */
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
}

#search-bar-container > i{
    height: 12px;
    width: 12px;
}

.search-icon {
    font-size: 12px;
    fill: rgba(0, 0, 0, 0.50);
    aspect-ratio: 1/1;
    flex: 0 0 auto;
}

#search-bar-container > input{
    border: var(--low-opacity-border);
    /* font-family: Outfit; */
    font-size: 10px;
    font-weight: 300;
    border: none;
    flex: 1;
    
}


/* ----------------------------------------------------------------------- */

/* follow section */

#follow-section{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    /* align-items: center;
    align-self: stretch; */
}

.follow-section-container{
    display: flex;
    height: 100%;
    width: 1208px;
    /* width: min(1208px, calc(100% - 32px)); */
    justify-content: space-between;
    align-items: center;
}

.follow-first-section{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 24px;
}

.profile-number-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.profile{
    position: relative;
    display: flex;
    width: 56px;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
}

.profile img{
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.profile img:nth-child(1) {
    top: 5px;
    left: 0px;
}
.profile img:nth-child(2) {
    top: 5px;
    left: 12px;
}
.profile img:nth-child(3) {
    top: 5px;
    left: 24px;
}

/* ----------------------------------------------------------------------- */

/* hero section */
.hero-section{
    width: 100%;
    height: 549px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section p{
    color: var(--low-opacity-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.88px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-section h1{
    color: var(--main-black);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.04px;
}

#hero-section-button{
    display: flex;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}

/* ----------------------------------------------------------------------- */ 

/* caroscel section  */
.caroscel-slider-section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    padding: 60px 0;
    align-items: flex-start;
}

.caroscel-slider-clip-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: stretch;

    overflow:scroll;
    
}

.caroscel-slider-container{
    width: auto;
    /* hei */
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.caroscel-slider-container > img{
    display: flex;
    width: 347px;
    height: 240px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 120/83;
}

.caroscel-circle {
    position: absolute;
    width: 100%;
    height: 100px;
    flex: 0 0 40px;
    background: white;
    border-radius: 50%;
}

.caroscel-circle-first{
    top: 10px;
    left: 0;
}
.caroscel-circle-second{
    bottom: 10px;
    left: 0;
}

/* ----------------------------------------------------------------------- */ 
/* new arrival section */
#new-arrival-section{
    width: 100%;
    height: 500px;
    padding: 64px 117px 64px 117px;
    display: flex;
    justify-content: center;
}

.new-arrival-card-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 88px 50px 88px;
    width: 1208px;
    height: 100%;
    align-items: center;
    gap: 50px;

    /* border-radius: 15px; */
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.);
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.03) 27.53%, rgba(0, 0, 0, 0.00) 91.83%);
}

.new-arrival-card-container > * {
    flex: 1;
}

.new-arrival-card-1st-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 40px;
}

.title{
    display: flex;
    gap: 8px;
}

.title > span{
    opacity: 60%;
}

.after-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.new-arrival-card-2nd-section{
    width: auto;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.new-arrival-card-2nd-section img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* ----------------------------------------------------------------------- */

.variety-section{
    display: flex;
    padding: 64px 0;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    background: rgba(230, 230, 230, 0.50);;
}

.paragraph-like{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.paragraph-like > *{
    width: auto;
}

.individual-variety-container{
    display: flex;
    width: auto;
    min-width: 340px;
    height: auto;
    padding: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
}

.individual-variety-container > img{
    height: 500px;
    /* width: 340px; */
    border-radius: 25px;
}

.horizontal-scroll-contaienr{
    display: flex; 
    width: 100%;

    display: flex;
    height: 900px;
    flex-direction: column;
    align-items: center;
}

.horizontal-clip-container{
    display: flex;
    justify-content: start;
    width: 1208px;
    height: auto;
    align-items: start;
    gap: 24px;
    flex: 1 0 0;

    overflow-x: auto;
    overflow-y: hidden;
    /* overflow: scroll; */
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    /* -ms-overflow-style: none; */
}

.star-shop-button{
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.star-shop-button > *{
    height: auto;
    width: auto;
    flex: 1;
}
.star-container{
    display: flex;
    gap: 0px; 
}


.individual-variety-container > div,p{
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 0px 10px;
    gap: 32px;
}

.variety-container-top{
    margin-top: 0px;
}
.variety-container-middle{
    margin-top: 100px;
}
.variety-container-bottom{
    margin-top: 200px;
}



/* ----------------------------------------------------------------------- */

/* offer section  */

#offer-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 72px;
}

.offer-card-container{
    display: flex;
    width: 1208px;
    height: 414px;
    padding: 1px 0;
    /* flex-direction: c; */
    padding: 0px 100px;
    gap: 200px;
    /* justify-content: space-between; */
    align-items: center;

    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.03) 27.53%, rgba(0, 0, 0, 0.00) 91.83%);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.offer-card-container > *{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offer-card-2nd-section{
    
}

.offer-card-timer-cube{
    display: flex;
    /* flex-direction: column; */
    gap: 24px;
}

.timer-cube{
    display: flex;
    width: 60px;
    height: 60px;
    padding: 16px 28px 18px 28px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    aspect-ratio: 1/1;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.timer-cube span{
    color: #000;
    /* width: 100%; */
    /* font-family: "Open Sans Hebrew"; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.timer-cube p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    letter-spacing: 1px;
}

.right-arrow-buton-offer{
    width: 50%;
    font-weight: 600;
}

/* ----------------------------------------------------------------------- */

/* footer section  */

footer{
    display: flex;
    width: 100%;
    padding: 64px 0;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
    margin-top: 72px;

    background: #EFEFEF;
}

.footer-email-section{
    width: 1208px;
    display: flex;
    padding: 0 64px;
    align-items: center;
    gap: 64px;
}

.footer-email-detail-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 0;
}

.input-email-button-container{
    display: flex;
    gap: 0px;
}


.input-email-button-container > input{
    display: flex;
    width: 350px;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
}

.input-email-button-container > button{
    display: flex;
    padding: 0 12px;
    align-items: center;
    align-self: stretch;
    cursor: pointer;

    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    border-left: none;
    background: #FFF;
}

.footer-card-section{
    width: 1208px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 64px;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

.footer-card-detail-section{
    display: flex;
    align-items: flex-start;
    gap: 112px;
    align-self: stretch;
}
.footer-card-detail-section > *{
    flex: 1;
}

.footer-card-detail-1st-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.social-icon-container{
    display: flex;
    width: 100%;
    /* height: 100%; */
    height: auto;
    justify-content: left;
    align-items: center;
    gap: 12px
}

.social-icon-container a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-container a img{
    /* height: 100%; */
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    /* width: 100%; */
}

.footer-card-detail-2nd-section{
    display: flex;
    justify-content:center;
    align-items: start;
    gap: 30px;
}
.footer-card-detail-2nd-section div{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-card-detail-2nd-section div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.link{
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub-link{
    display: flex;
    font-size: 14px;
    align-items: center;
    /* gap: 10px; */
    opacity: 50%;
    text-decoration: none;
}

.footer-copyright-and-links{

    display: flex;
    padding-top: 32px;
    justify-content: center;
    align-items: center;
    /* align-self: stretch; */

    border-top: 1px solid rgba(0, 0, 0, 0.50);
}

.footer-copyright-and-links > * {
    flex: 1;
}

.footer-privacy-term-cookies-container{
    display: flex;
    justify-content: end;
    gap: 24px;
}

.footer-privacy-term-cookies-container{
    color: #000;
    font-family: "Bai Jamjuree";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.2px;
}

/* ----------------------------------------------------------------------- */



#product-hero-section{
    /* justify-content: start; */
    align-items: start;
    height: auto;
    padding: 64px 116px;
    
}

#product-hero-section > *{
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
}


#sort-section{
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px 116px;
    justify-content: space-between;
    align-items: center;

    border-top: 0.5px solid rgba(0, 0, 0, 0.40);
}

#sort-section > *{
    font-size: 14px;
}

#product-body-section{
    display: flex;
    width: 100%;
    height: 800px;
    padding: 0 116px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

#product-right-pannel{
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    height: stretch;
    justify-content: space-between;
}

.product-right-pannel-drop-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    margin-bottom: 14px;
}

.pannel-drop-block-icon-name{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

.pannel-drop-block-icon-name > img{
    width: 25px;
    height: auto;
    aspect-ratio: 1/1;
}

#all-prodict-pannel{
    flex: 1;
    /* height: 100%; */

    display: flex;
    height: 800px;
    padding: 0 16px;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 12px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none; 
}

.individual-product-row-container{
    display: flex;
    width: stretch;
    overflow: hidden;
    min-height: 500px;
    /* min-height: 400px; */
    height: fit-content;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.product-scroll-container{
    width: stretch;
    height: fit-content;
    overflow-x: auto;
    overflow-y:hidden;
    scrollbar-width: none; 
}

.product-clip-container{
    display: flex;
    padding-top: 24px;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    /* overflow: hidden; */
    gap: 11px;
    align-self: stretch;
}

.individual-product-card-container{
    display: flex;
    width: 230px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    background-color: white;
    border-radius: 25px;
}

.individual-product-card-container > img{
    display: flex;
    width: 180px;
    height: 220px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 70/93;
}

.product-brand-name{
    font-size: 13px;
    opacity: 60%;
}


.individual-product-card-container p:nth-child(3){
    font-size: 18px;
}

.price-container{
    padding: 0 10px;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: end;
}
.price-container p{
    /* text-align: end; */
    padding: 0px;
    margin: 0px;
    width: fit-content;
    font-size: 12px;
    white-space: nowrap;
}
.price-container p:nth-child(2){
    font-size: 16px;
    color: black;
    opacity: 100%;
}
.price-container p:nth-child(3){
    font-size: 14px;
    color: gray;
    text-decoration:line-through;
}



.available-container{
    display: flex;
    padding: 0 10px;
    width: 100%;
    justify-content: start;
    align-items: end;
}
.available-container p{
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    opacity: 100%;
    /* align-items: end; */
}
/* .available-container p:nth-child(2){
    font-size: 12px;
    opacity: 100%;
} */


.color-rating-container{
    display: flex;
    width: 100%;
    padding: 0px 10px;
}

.color-icon-container{ 
    flex: 1;
}

.color-icon-container > img{
    width: 14px;
    height: auto;
}
.star-icon-container{
    display: flex;
    flex: 1;
    height: auto;

}

.star-icon-container > i{
    width: 20px;
    aspect-ratio: 1/1;
    color: #FFD700;
}


.product-button-container{
    display: flex;
    gap: 8px;
}

.product-button-container button{
    flex: 1;
    text-align: center;
    font-size: 14px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 4px;
}


#about-us-hero-section{
    margin-top: 64px;
    width: 100%;

    display: flex;
    height: 400px;
    padding: 0 116px;
    align-items: center;
    gap: 55px;
    align-self: stretch;
}

#about-us-hero-section > *{
    /* flex: 1; */
    height: stretch;
}

.about-us-hero-section-1{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

.about-us-hero-section-1 div{
    display: flex;
    gap: 12px;
}

.about-us-hero-section-2{
    position: relative;
    width: 514px;
    /* flex: 1; */
}

.about-us-hero-section-2 img{
    position: absolute;
}

.about-us-hero-section-2 > img:nth-child(1){
    width: 350px;
    height: 304px;
    top: 0;
    left: 0;
}

.about-us-hero-section-2 > img:nth-child(2){
    width: 266px;
    height: 203px;
    bottom: 0;
    right: 0;
}

.about-us-hero-section-2 > div:nth-child(3){
    position: absolute;
    top: 260px;
    right: 200px;
}

.about-us-hero-section-2 > div:nth-child(4){
    position: absolute;
    bottom: 0px;
    left: 70px;
}

.about-us-hero-section-2 > div:nth-child(5){
    position: absolute;
    top: 70px;
    right: 00px;
}
.about-us-hero-section-2 > div:nth-child(6){
    position: absolute;
    top: 10px;
    right: 53px;
}

.about-us-hero-section-2 > div:is(:nth-child(5), :nth-child(6)) > div > div {
    background-color: rgba(255, 127, 80, 0.94);
}


#why-us-section{
    display: flex;
    height: 500px;
    width: 100%;
    padding: 0px 116px;
    gap: 55px;

    background-color: green;
}

#why-us-section > *{
    display: flex;
    height: 100%;
}

.why-us-section-1{
    background-color: rgb(1, 153, 1);
    flex: 1;
}

.why-us-section-2{
    background-color: rgb(1, 153, 1);
    width: 514px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
}

.why-us-links{
    padding: 0px 12px;
    
    display: flex;
    width: 100%;
    margin-top: 8px;
    justify-content: space-between;
    background-color: rgb(3, 176, 3);
}
.why-us-links > div:is(:nth-child(1), :nth-child(2)){
    background-color: rgb(3, 206, 3);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.why-us-link-column > a{
    display: block;
    text-decoration: none;

}

